<!DOCTYPE html>
<html lang="en" th:fragment="parent(content, title)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />

</head>

<body class="pt-16">
    <p>base page content</p>

    <div th:replace="navbar :: navbar"></div>

    <!-- main content -->
    <div class="p-5">
        <section th:replace="${content}"></section>

    </div>

    <!-- footer -->
    <footer class="p-4">Common Footer content</footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>