<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: bisque;
        }
        .text {
            margin: auto;
            width: 50%;
            padding: 30px;
        }

    </style>
</head>

<body>
    <h1 class="text">Welcome to the home page</h1>
    <!-- <h1 th:text="${name}" class="text"></h1>
    <h1 th:text="${country}" class="text"></h1>
    <h1 th:text="${githubRepo}" class="text"></h1> -->
    <a th:href="${githubRepo }">click here</a>
    <p class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, excepturi nulla? Odit quia sequi provident quae,
        eaque sit reprehenderit quidem sed perferendis laudantium aliquam, magnam autem! Odit velit voluptatum ad?Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolor unde cupiditate illo accusantium adipisci esse
        sit autem pariatur, omnis earum deserunt doloribus atque blanditiis minus ea aut sed eligendi!
        Ullam voluptatum error nisi perferendis quaerat accusamus. Neque distinctio, sequi accusantium mollitia
        voluptatem aut doloribus ad autem, praesentium dolorem sint, consequuntur incidunt voluptatibus! Quas eum totam
        eius maiores ipsam. Ex.
    </p>

</body>

</html>