<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <!-- <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: bisque;
        }

        .text {
            margin: auto;
            width: 50%;
            padding: 30px;
        }
    </style> -->
    <!-- <link rel="stylesheet" th:href="@{'/css/output.css'}"/> -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <div id="content">

        <body>
            <div id="content" class=" max-w-screen"> <!-- Added max-width and padding -->
                <div class="grid grid-cols-12">

                    <div class="col-span-0 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>

                    <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                        <div href="#"
                            class="block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login Here
                            </h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
                                technology
                                acquisitions of 2021 so far, in reverse chronological order.</p>
                        </div>
                    </div>

                    <div class="col-span-0 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        </body>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>